body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: fit-content;
  background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
}
#navbar{

  overflow: hidden;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  overflow: hidden;
  background-color: #1b1c48;
  position: fixed;
  top: 0;
  width: 99.92%;
  border-radius: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.552);
}

ul img {
  margin-left: 30px;
  height: 3rem;
  width: 3rem;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

li {
  float: right;
  margin-right: 10px;
}

#last{

  margin-right: 25px;
}



li a {
  display: block;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
  
}

li a:hover:not(.active) {
  background-color: #1111112e;
  border-radius: 0.5rem;
  
  
}

.active {
  background-color: #154f96b8;
  border-radius: 0.8rem;
}


.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

#Logo{

  margin-left: 10px;
  height: 2.5rem;
  width: 2.5rem;
  float: left;
  
  display: none;
  justify-content: center;
  align-items: center;
  padding: 5px;

}


#Logo2{

  margin-left: 10px;
  height: 2.5rem;
  width: 2.5rem;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

}


.menu.active {
  display: block !important;
  flex-direction: column;

}

@media screen and (max-width: 768px) {
  .hamburger {
      display: block;
      float: right;
  }


  .menu ul {
      width: 100%;
      display: none;
      flex-direction: column;
      position: relative;
  }
  li{

    float: right;;
  }

  .menu.active {
    display: block !important;
    flex-direction: column;
 
}
  .menu ul li {
      text-align: center;
      width: 100%;
      
  }

  
}

@media screen and (max-width: 1666px) {

  #Logo{

    display: none;
  }

  .wel-body{

    margin-top: 70px;
  }
  
  
}


