
.btn-submit {
  padding: 10px 20px 10px 20px;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.219);
  
}

.btn-submit:hover {
  background-color: rgb(0, 0, 0, 0.5);
}

.input-field2 {
  display: flex;
  margin-left: 5px;
  gap: 5px;
  margin-top: 11px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 0.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-wrap: nowrap;
  
}

.input-field2 select {
  width: 80%;
  padding: 8px;

  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  
}





#signin {
  cursor: pointer;
  text-decoration: underline;
  color: cadetblue;
  
}





